<!DOCTYPE html>
<html>
  <head>
<title> Login </title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
   <form action="/" method="POST">
<h1> Welcome To Login Page</h1>
<hr>
  <div class="form-group">
    <label for="exampleInputEmail1">Student name</label>
    <input name="stdname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">ID</label>
    <input name="stdid" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Your ID">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
<hr>
<p><a href="/new"> click here For <mark>Sing Up</mark> </a> </p>

</form>
  </body>
</html>
